<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户列表</title>
</head>
<body>
    <ul>
        <%
            for(var i=0; i<users.length; i++){
                var user = users[i];
        %>
            <li><%=user.username%></li>
        <%
            }
        %>
    </ul>
</body>
</html>